.container {
  background: url(../../images/bg-nature-railway.jpg), no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.sign_up_area {
  min-width: 300px;
  max-width: 500px;
  max-height: 90vh;
  align-items: center;
}

.sign_up_container {
  max-height: 80vh;
overflow: auto;
}
